{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Budget manager {% endblock title %}

{% block body %}

<!-- Add new expense Modal -->
<div class="modal fade" id="addExpense" tabindex="-1" role="dialog" aria-labelledby="addExpenseTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
      <form onsubmit="createBudgetItem(event)" name="createBudgetItemForm" class="modal-content">
         {% csrf_token %}

         <div class="modal-header">
            <h5 class="modal-title" id="addExpenseTitle">Add new expense</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

         <div class="modal-body">
            <div class="modal-body">
               {% for field in form.visible_fields %}
               <div class="form-group">
                  {{ field.label_tag }}
                  {% render_field field class+="form-control"%}
                  {% if field.help_text %}
                     <span class="help-text">{{ field.help_text }}</span>
                  {% endif %}
                  {% for error in field.erros %}
                     <span style="color:red">{{ error }}</span>
                  {% endfor %}
               </div>
               {% endfor %}
            </div>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Expense</button>
         </div>
      </form>
   </div>
</div>

<!-- Update expense Modal -->
<div class="modal fade" id="updateExpense" tabindex="-1" role="dialog" aria-labelledby="updateExpenseTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
      <form onsubmit="updateBudgetItem(event)" name="updateBudgetItemForm" class="modal-content">
         {% csrf_token %}

         <div class="modal-header">
            <h5 class="modal-title" id="updateExpenseTitle">Update budget item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

         <div class="modal-body">
            <div class="modal-body">
               {% for field in form.visible_fields %}
               <div class="form-group">
                  {{ field.label_tag }}
                  {% render_field field class+="form-control"%}
                  {% if field.help_text %}
                     <span class="help-text">{{ field.help_text }}</span>
                  {% endif %}
                  {% for error in field.erros %}
                     <span style="color:red">{{ error }}</span>
                  {% endfor %}
               </div>
               {% endfor %}
            </div>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Expense</button>
         </div>
      </form>
   </div>
</div>

{% include 'include/header.html' %}
{% include 'include/tools-nav.html' %}

<section>
   <div class="container grid-200-auto">
      <div class="side-nav">
         <a class="pointer" onclick="getAllbudgetItems()">All</a><br>
         {% for category in expense_categories %}
         <a class="pointer" data-exp-category-id="{{ category.id }}" onclick="getExpensesInCategory(this.getAttribute('data-exp-category-id'))">{{ category.name }}</a><br>
         {% endfor %}
      </div>

      <div class="main-content">
         <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex">
               <span>FILTER BY:</span>
               <div class="form-group mx-2 mb-0">
                  <label for="">Payment Status:</label>
                  <select name="rsvp-filter" id="rsvp-filter" class="form-select">
                     <option value="" selected>---------</option>
                     <option value="full">Fully paid</option>
                     <option value="partial">Partially paid</option>
                     <option value="no">Not paid</option>
                  </select>
               </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExpense">
               <i class="fas fa-plus"></i>
               <span>New Expense</span>
            </button>
         </div>

         <br><br>

         <table class="table" id="BudgetItemsTable">
            <thead>
               <tr>
                  <th>Expense</th>
                  <th>Estimated cost</th>
                  <th>Paid</th>
                  <th></th>
               </tr>
            </thead>

            <tbody></tbody>
         </table>
         <!-- <div class="center">
            <br><br><br>
            <h4>No budget item added yet!</h4>
         </div> -->
      </div>
   </div>
</section>
{% endblock body %}


{% block scripts %}
{% load static %}
<script src="{% static 'js/budgeter.js' %}"></script>
{% endblock scripts %}