{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Task Master {% endblock %}

{% block body %}
<!-- Add New Task Modal -->
<div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTaskTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
      <form onsubmit="createTask(event)" name="createTaskForm" id="createTaskForm" class="modal-content">
         {% csrf_token %}

         <div class="modal-header">
            <h5 class="modal-title" id="addTaskTitle">Add new task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

         <div class="modal-body">            
         {% for field in form.visible_fields %}
            <div class="form-group">
               {{ field.label_tag }}
               {% render_field field class+="form-control" %}
               {% if field.help_text %}
                  <span class="help-text">{{ field.help_text }}</span>
               {% endif %}
               {% for error in field.errors %}
                  <span style="color:red">{{ error }}</span>
               {% endfor %}
            </div>
         {% endfor %}
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save task</button>
         </div>
      </form>
   </div>
</div>

<!-- Update Task Modal -->
<div class="modal fade" id="updateTask" tabindex="-1" role="dialog" aria-labelledby="updateTaskTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
      <form onsubmit="updateTask(event)" name="updateTaskForm" id="updateTaskForm" class="modal-content">
         {% csrf_token %}

         <div class="modal-header">
            <h5 class="modal-title" id="updateTaskTitle">Update task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

         <div class="modal-body">
         {% for field in form.visible_fields %}
            <div class="form-group">
               {{ field.label_tag }}
               {% render_field field class+="form-control" %}
               {% if field.help_text %}
                  <span class="help-text">{{ field.help_text }}</span>
               {% endif %}
               {% for error in field.errors %}
                  <span style="color:red">{{ error }}</span>
               {% endfor %}
            </div>
         {% endfor %}
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update task</button>
         </div>
      </form>
   </div>
</div>

{% include 'include/header.html' %}
{% include 'include/tools-nav.html' %}

<section class="my-4">
   <div class="container grid-200-auto">
      <div class="side-nav">
         <a class="pointer" onclick="getAllTasks()">All Tasks</a><br>
         <a class="pointer" onclick="getTasksInProgress()">In progress</a><br>
         <a class="pointer" onclick="getCompletedTasks()">Completed</a>
      </div>

      <div class="main-content">
         <div class="d-flex justify-content-between align-items-end">
            <div>
               <span>FILTER BY:</span><br>
               <div class="d-flex sm-gap">
                  <div class="form-group m-0">
                     <label for="">Category:</label>
                     {% render_field form.category class+="filter-todos filter-category form-control" %}
                  </div>
                  
                  <div class="form-group m-0">
                     <label for="">Due date:</label>
                     <select name="due-date" id="filter-due-date" class="filter-todos filter-date form-control">
                        <option value="" selected>---------</option>
                     </select>
                  </div>
               </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTask">
               <i class="fas fa-plus"></i>
               <span>New Task</span>
            </button>
         </div>

         <br><br>

         <table class="table" id="todosTable">
            <thead>
               <tr>
                  <th>Done</th>
                  <th>Task</th>
                  <th>Due</th>
                  <th class="text-end">Delete</th>
               </tr>
            </thead>

            <tbody></tbody>
         </table>
      </div>
   </div>
</section>
{% endblock %}


{% block scripts %}
{% load static %}
<script src="{% static 'js/todos.js' %}"></script>
{% endblock %}

