{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Task Master {% endblock %}

{% block body %}
<!-- Add New Task Modal -->
<div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTaskTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
      <form action="{% url 'create-task' user.id %}" method="POST" class="modal-content">
         {% csrf_token %}

         <div class="modal-header">
            <h5 class="modal-title" id="addTaskTitle">Add new task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">            
         {% for field in form.visible_fields %}
            <div class="form-group">
               {{ field.label_tag }}
               {% render_field field class+="form-control" %}
               {% if field.help_text %}
                  <span class="help-text">{{ field.help_text }}</span>
               {% endif %}
               {% for error in field.errors %}
                  <span style="color:red">{{ error }}</span>
               {% endfor %}
            </div>
         {% endfor %}
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save task</button>
         </div>
      </form>
   </div>
</div>

<!-- Update Task Modal -->
<div class="modal fade" id="updateTask" tabindex="-1" role="dialog" aria-labelledby="updateTaskTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
      <form action="" method="POST" name="updateTaskForm" id="updateTaskForm" class="modal-content">
         {% csrf_token %}

         <div class="modal-header">
            <h5 class="modal-title" id="updateTaskTitle">Update task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">
         {% for field in form.visible_fields %}
            <div class="form-group">
               {{ field.label_tag }}
               {% render_field field class+="form-control" %}
               {% if field.help_text %}
                  <span class="help-text">{{ field.help_text }}</span>
               {% endif %}
               {% for error in field.errors %}
                  <span style="color:red">{{ error }}</span>
               {% endfor %}
            </div>
         {% endfor %}
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update task</button>
         </div>
      </form>
   </div>
</div>

{% include 'include/header.html' %}
{% include 'include/tools-nav.html' %}

<section>
   <div class="container grid-200-auto">
      <div class="side-nav">
         <a href="{% url 'checklist-all' user.id %}">All Tasks</a><br>
         <a href="{% url 'checklist-in-progress' user.id %}">In progress</a><br>
         <a href="{% url 'checklist-completed' user.id %}">Completed</a>
      </div>

      <div class="main-content">
         <div class="filter flex-btwn">
            <div class="flex">
               <span>Filter by:</span>
               
               {% render_field form.category class+="filter-todos filter-category form-control" %}
               
               <select name="due-date" id="filter-due-date" class="filter-todos filter-date form-control">
                  <option value="" selected>---------</option>
               </select>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTask">
               <i class="fas fa-plus"></i>
               <span>New Task</span>
            </button>
         </div>

         <br><br>

         {% if todos %}
         <table class="table">
            <thead>
               <tr>
                  <th>Done</th>
                  <th>Task</th>
                  <th>Due</th>
                  <th></th>
               </tr>
            </thead>

            <tbody>
            {% for todo in todos %}
               <tr class="checklist-item">
                  <td>
                     <form name="markComplete" action="{% url 'mark-task-as-complete' user_id=user.id task_id=todo.id %}">
                        <input type="checkbox" value="{{ todo.completed }}" class="form-control change_task_complete" onchange="this.form.submit()">
                     </form>

                     <!-- HELP UPDATING TASKS -->
                     <input type="text" id="todo_{{ todo.id }}_content" value="{{ todo.content }}" disabled>
                     <input type="text" id="todo_{{ todo.id }}_category" value="{{ todo.category_id }}" disabled>
                     <input type="number" id="todo_{{ todo.id }}_cost" value="{{ todo.cost }}" disabled>
                     <input type="date" id="todo_{{ todo.id }}_date" value="{{ todo.due_date|date:'Y-m-d' }}" disabled>
                  </td>
                  <td class="pointer" title="Click to update this task." data-task-id="{{ todo.id }}" data-toggle="modal" data-target="#updateTask" onclick="updateTask(this.getAttribute('data-task-id'));">
                     <div class="task">{{ todo.content }}</div>
                     <span class="task-label">{{ todo.category }}</span>
                  </td>
                  <td style="text-transform: capitalize;">
                     {% if todo.due_date %}
                     <span class="todo-due-date">{{ todo.due_date|date:'d/m/Y' }}</span>
                     {% endif %}
                  </td>
                  <td>
                     <a href="{% url 'delete-task' user_id=user.id task_id=todo.id %}"><i class="fas fa-trash-alt"></i></a>
                  </td>
               </tr>
            {% endfor %}
            </tbody>
         </table>
         {% else %}
            <div class="center">
               <br><br><br>
               <h4>{{ no_task_msg }}</h4>
            </div>
         {% endif %}
      </div>
   </div>
</section>
{% endblock %}


{% block scripts %}
{% load static %}
<script src="{% static 'js/todos.js' %}"></script>
{% endblock %}

