{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Guestlist Manager {% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="addGuest" tabindex="-1" role="dialog" aria-labelledby="addGuestTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable" role="document">
      <form onsubmit="addGuest(event)" name="addGuestForm" class="modal-content">
         {% csrf_token %}

         <div class="modal-header">
            <h5 class="modal-title" id="addGuestTitle">Add new guest</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

         <div class="modal-body">
         {% for field in form.visible_fields %}
            <div class="form-group">
               {{ field.label_tag }}
               {% render_field field class+="form-control"%}
               {% if field.help_text %}
                  <span class="help-text">{{ field.help_text }}</span>
               {% endif %}
               {% for error in field.erros %}
                  <span style="color:red">{{ error }}</span>
               {% endfor %}
            </div>
         {% endfor %}
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save guest</button>
         </div>
      </form>
   </div>
</div>


{% include 'include/header.html' %}
{% include 'include/tools-nav.html' %}

<section class="my-4">
   <div class="container grid-200-auto">
      <div class="side-nav">
         <a href="#">All Events</a><br>
         <a href="#">Wedding day</a><br>
         <a href="#">Rehearsal dinner</a>
      </div>

      <div class="main-content">
         <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex">
               <span>FILTER BY:</span>
               <div class="form-group mx-2 mb-0">
                  <label for="">RSVP Status:</label>
                  <select name="rsvp" id="rsvp"  class="form-select">
                     <option value="" hidden>RSVP Status</option>
                     <option value="">Pending</option>
                     <option value="">Attending</option>
                     <option value="">Declined</option>
                  </select>
               </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGuest">
               <i class="fas fa-plus"></i>
               <span>New Guest</span>
            </button>
         </div>

         <br><br>

         <table class="table" id="guestlistTable">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>RSVP Status</th>
                  <th>Note</th>
                  <th></th>
               </tr>
            </thead>

            <tbody class="table"></tbody>
         </table>
      </div>
   </div>
</section>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/guestlist.js' %}"></script>
{% endblock scripts %}