html, body {
   font: 400 15px/1.5 'Roboto', sans-serif;
}

body {
   margin: 0;
   padding: 0 0 4rem;
}

input[type='checkbox'] {
   display: inline-block;
   width: 20px;
   height: 20px;
}

a {text-decoration: none;}
img {max-width: 100%;}
.modal-body {background: #f9f9f9;}
textarea.form-control {height: 70px;}
label {margin-bottom: 2px;}
input:disabled {display: none;}

.pointer {cursor: pointer;}
section {padding: 2rem 0;}
.center {text-align: center;}
.big-gap {gap: 25%;}
.sm-gap {gap: 0.5rem;}

.help-text {
   display: block;
   font-size: 13px;
   text-align: center;
   color: #777;
   font-style: italic;
}

.help-text::before {
   content: 'HINT: ';
}

.grid-4 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px 16px;
}

.grid-200-auto {
   display: grid;
   grid-template-columns: 200px 1fr;
   gap: 4rem;
}

.task-label {
   text-transform: uppercase;
   font-size: 12px;
   background: #ddd;
   color: var(--bs-blue);
   padding: 3px 5px;
   border-radius: 3px;
   opacity: 0.7;
}

.initials {
   --circle-size: 50px;
   
   flex: 0 0 var(--circle-size);
   height: var(--circle-size);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 1px solid #ccc;
   background: #eee;
}

.form-group {
   text-align: left;
   max-width: 450px;
   margin-left: auto;
   margin-right: auto;
   margin: 0 auto 1rem;
}

.vendors-page .bookmark {
   --size: 45px;

   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   font-size: 20px;
   color: #fff;
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   box-shadow: -2px 5px 10px rgba(255, 255, 255, 0.4);
}


.vendors-page .bookmark input:checked ~ .fas {
   color: orangered;
}

.vendors-page .cta a {
   text-transform: uppercase;
   font-size: 14px;
}

#thebackground{
   background-image: url("../images/sectionimg.jpg");
   height:130vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
}

.profile-pic {
   --pic-size: 150px;

   width: var(--pic-size);
   height: var(--pic-size);;
}

/* TOOLS NAV */
#tools-nav {border-bottom: 1px solid #ccc;}
#tools-nav .tool + .tool {
   margin-left: 3rem;
}
#tools-nav .tool .fas {
   font-size: 1.7rem;
   margin-bottom: 10px;
}


/* navbar */
#navbar {background: steelblue;}
#navbar a {color: #eee;}

#navbar .nav-secondary {
   max-height: 0;
   overflow: hidden;
   transform: translate(-100%, 0);
   transition: 0.25s ease-in-out;
}

#navbar .nav-right .nav-links {
   padding-top: 1rem;
   border-top: 1px solid #aaa;
}

#navbar .nav-middle .nav-links {
   padding: 1.4rem 0 1rem;
}
#navbar.show-nav .nav-secondary {
   transform: translate(0);
}
#navbar .nav-secondary a {
   display: block;
   padding: 12px 0;
}



/* wab menu */
#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-height: 16px;
  background: transparent;
  border: none;
  border-radius: 0;
}

#menu .bars {
  width: 22px;
  height: 3px;
  display: inline-block;
  background: #fff;
  border-radius: 2px;
  position: relative;
  transition: 0.25s ease-in-out;
}

#menu .bars::before, 
#menu .bars::after {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  background: inherit;
  border-radius: inherit;
  content: '';
  transition: 0.25s ease-in-out;
}

#menu .bars::before {top: -6px;}
#menu .bars::after {bottom: -6px;}
#menu.active .bars {
  background: transparent !important;
}

#menu.active .bars::before, 
#menu.active .bars::after {
  background: #fff;
  transform-origin: center;
}
#menu.active .bars::before {
  transform: translate(0, 6px) rotate(45deg);
}
#menu.active .bars::after {
  transform: translate(0, -6px) rotate(-45deg);
}


@media screen and (min-width: 800px) {
   #menu {display: none;}

   #navbar .container {
      display: flex;
      justify-content: space-between;
   }

   #navbar .nav-secondary {
      max-height: initial !important;
      overflow: initial !important;
      transform: translate(0) !important;
   }
   
   #navbar .nav-secondary .nav-links {
      height: 100%;
      display: flex;
      align-items: center;
   }

   #navbar .nav-right .nav-links {
      padding: 0;
      border: none;
   }

   #navbar .nav-middle .nav-links {padding: 0;}
   #navbar .nav-secondary a {padding: 0;}
   #navbar .nav-secondary a + a {margin-left: 10px;}
}