html, body {
   font: 400 15px/1.5 'Roboto', sans-serif;
}

body {
   margin: 0;
   padding: 0 0 4rem;
}

.form-control.change_task_complete {
   display: inline-block;
   width: 20px;
   height: 20px;
}

img {max-width: 100%;}
.modal-body {background: #f9f9f9;}
textarea.form-control {height: 70px;   }
label {margin-bottom: 2px;}
.center {text-align: center;}
input:disabled {display: none;}
.pointer {cursor: pointer;}

.help-text {
   display: block;
   font-size: 13px;
   text-align: center;
   color: #777;
   font-style: italic;
}

.help-text::before {
   content: 'HINT: ';
}

.flex {
   display: flex;
   gap: 10px;
}

.flex-btwn {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.grid-4 {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px 16px;
}

.grid-200-auto {
   display: grid;
   grid-template-columns: 200px 1fr;
   gap: 4rem;
}

.task-label {
   text-transform: uppercase;
   font-size: 12px;
   background: #ddd;
   color: var(--blue);
   padding: 3px 5px;
   border-radius: 3px;
   opacity: 0.7;
}

.initials {
   --circle-size: 50px;
   
   flex: 0 0 var(--circle-size);
   height: var(--circle-size);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 1px solid #ccc;
   background: #eee;
}

.form-group {
   text-align: left;
   max-width: 450px;
   margin-left: auto;
   margin-right: auto;
}