{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container center">
   <br><br><br>
   <h2>DreamWed User Login</h2><br>

   <form action="{% url 'login' %}" method="POST" novalidate>
      {% csrf_token %}

      {% for field in form.visible_fields %}
         <div class="form-group mb-3">
            {{ field.label_tag }}
            {% render_field field class+="form-control" %}
            {% for error in field.errors %}
               <span style="color:red">{{ error }}</span>
            {% endfor %}
         </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Login</button>

      <br><br><br>
      <span>Are you a system admin?</span><br>
      <a href="{% url 'admin:index' %}?next={% url 'home' %}">Admin Login</a>

      <br><br>
      <span>Don't have an account yet?</span><br>
      <a href="{% url 'register' %}">Create account</a>
      <br><br>
      <a class="btn btn-secondary" href="{% url 'home' %}">Go back Home</a>
   </form>
</div>

{% endblock %}