{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Wedding planner registration {% endblock %}

{% block body %}
<div class="container center">
   <br><br><br>
   <h2>Wedding planner register here! dodododo</h2>
   <br>

   <form action="{% url 'wedding-planner-register' %}" method="POST" novalidate>
      {% csrf_token %}

      {% for field in form.visible_fields %}
         <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class+="form-control" %}
            {% for error in field.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
         </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Create account</button>

      <br><br><br>
      <span>Already have an account?</span>
      <a href="{% url 'login' %}">Login</a>
      <br><br><br>
      <a href="{% url 'home' %}">Go back Home</a>
   </form>
</div>

{% endblock %}